<% if (errMessage) { %>
  <div class="alert alert-danger" role="alert"><%= errMessage %></div>
<% } %>

<% if (book) { %>
  <div class="container">
    <!-- Carousel and book details -->
    <% if (book.imagesUrl && book.imagesUrl.length > 0) { %>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <% book.imagesUrl.forEach((imageUrl, index) => { %>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>" aria-current="<%= index === 0 ? 'true' : '' %>" aria-label="Slide <%= index + 1 %>"></button>
          <% }) %>
        </div>
        <div class="carousel-inner">
          <% book.imagesUrl.forEach((imageUrl, index) => { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <img src="<%= imageUrl %>" class="d-block w-100" alt="Book Image" />
            </div>
          <% }) %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% } else { %>
      <div class="default-image" style="width: 19rem;height: 29rem;align-self: center; margin-top: 1rem;">
        <div class="title" style="font-size: x-large;padding-top: 3rem;"> <b><%= book.name %></b></div>
        <div class="author" style="font-size: x-large;padding-bottom: 3rem;"><%= book.author %></div>
      </div>
    <% } %>
    <!-- Book information -->
    <div class="pt-4">
      <h3 style="margin-bottom: 0;"><%= book.name %></h3>
      <p><i>by <%= book.author %></i></p>

      <div style="display: flex;flex-direction: row;" >
       <p>Category: </p> 
        <% book.categories.forEach(cat => { %>
          <span class="badge bg-secondary" style="text-align: center;"><%= cat %></span>
        <% }) %>
      </div>
      <% if (book.year) { %>
        <p>Year Published: <%= book.year %></p>
      <% } %> 
      <div style="display: table; width: 100%; border-collapse: collapse;margin-bottom: 1rem;">
        <div style="display: table-row;">
          <div style="display: table-cell; padding: 0.5rem; border: 1px solid #ddd;">
            <p style="margin: 0;">Number of Hard Copies: <%= book.quantity %></p>
          </div>
          <div style="display: table-cell; padding: 0.5rem; border: 1px solid #ddd;">
            <p style="margin: 0;">Issued: <%= book.requests.length %></p>
          </div>
          <div style="display: table-cell; padding: 0.5rem; border: 1px solid #ddd;">
            <p style="margin: 0;">Available: <%= book.quantity - book.requests.length %></p>
          </div>
        </div>
      </div>
      

      <!-- Conditionally display eBook link -->
    
      <!-- Conditionally display quantity and request button -->
      <% if (book.typeOf.includes('hardcopy')) { %>
        <a href="/issueBook/<%= book._id %>" class="btn btn-<%= requested ? 'dark' : 'primary' %>">
          <%= requested ? 'PullBack' : 'Request Hardcopy' %>
        </a>
      <% } %>
      <% if (book.typeOf.includes('ebook')) { %>
        <a href="<%= book.ebookLink %>" class="btn btn-success" style="margin-top: 0.5rem;" target="_blank" rel="noopener noreferrer">eBook</a>
      <% } %> 


      <!-- Admin options for updating and deleting the book -->
      <% if (locals.userEmail == "lalhriemsangfaihriemsang@gmail.com" ||
      locals.userEmail=="gvp1992@gmail.com")  { %>
        <a href="/updateBook/<%= book._id %>" class="btn btn-warning">Update</a>
        <a href="#" class="btn btn-danger" onclick="confirmDelete('<%= book._id %>')">Delete</a>
      <% } %>

      
      <h4 style="margin-top: 0.5rem;">Description</h4>
      <p><%= book.desc %></p>

      <!-- Display request information -->
      <% if (book.requests) { %>
        <% book.requests.forEach(request => { %>
          <div class="alert <%= request.isAccepted ? 'alert-success' : 'alert-primary' %>" role="alert">
            Requested by <%= request.name %>
            <div class="mt-2">
              <% if (request.isAccepted) { %>
                to be returned in <%= request.daysLeft %> days
                <a href="/update-request-status?bookId=<%= book._id %>&requestName=<%= request.name %>&isAccepted=false" class="btn btn-danger">Returned</a>
              <% } else { %>
                <a href="/update-request-status?bookId=<%= book._id %>&requestName=<%= request.name %>&isAccepted=true" class="btn btn-success">Accept</a>
                <a href="/update-request-status?bookId=<%= book._id %>&requestName=<%= request.name %>&isAccepted=false" class="btn btn-danger">Reject</a>
              <% } %>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% } %>

<script>
  function confirmDelete(bookId) {
    if (confirm('Are you sure you want to delete this book? This action cannot be undone.')) {
      fetch('/deleteBook/' + bookId, {
        method: 'DELETE', // Use DELETE method
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then(response => {
        if (response.ok) {
          // Redirect to the home page upon successful deletion
          window.location.href = '/';
        } else {
          // Handle server-side error
          alert('Failed to delete the book. Please try again.');
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
      });
    }
  }
</script>
