<form
  action="/updateBook/<%= book._id %>"
  method="post"
  enctype="multipart/form-data"
>
  <div class="mb-3">
    <label for="name" class="form-label">Book Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<%= book.name %>"
      required
    />
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      value="<%= book.author %>"
      required
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Type of Book</label>
    <div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="hardcopyCheckbox"
        name="typeOf[]" value="hardcopy" <%= book.typeOf.includes('hardcopy') ?
        'checked' : '' %>>
        <label class="form-check-label" for="hardcopyCheckbox">Hardcopy</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="ebookCheckbox"
        name="typeOf[]" value="ebook" <%= book.typeOf.includes('ebook') ?
        'checked' : '' %>>
        <label class="form-check-label" for="hardcopyCheckbox">eBook</label>
      </div>
    </div>
  </div>

  <div class="mb-3" id="contributorContainer" style="display: none">
    <label for="contributor" class="form-label">Contributor</label>
    <input
      type="text"
      class="form-control"
      id="contributor"
      name="contributor"
      value="<%= book.contributor %>"
      required
    />
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Book Description</label>
    <textarea class="form-control" id="desc" name="desc" rows="3" required>
<%= book.desc %></textarea
    >
  </div>

  <div class="mb-3" id="quantityContainer" style="display: none">
    <label for="quantity" class="form-label">Quantity</label>
    <input
      type="number"
      class="form-control"
      id="quantity"
      name="quantity"
      value="<%= book.quantity %>"
      step="1"
    />
  </div>
  <div class="mb-3" id="yearContainer">
    <label for="year" class="form-label">Year Published</label>
    <input
      type="number"
      class="form-control"
      id="year"
      name="year"
      value="<%= book.year %>"
      step="0.01"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Categories</label>
    <% const categories = ['Gospel', 'New believers', 'General', 'Church',
    'Bible study', 'Christ', 'Cross', 'Faith', 'Letters', 'Ministry',
    'Overcomers', 'Prophetic', 'Restoration', 'Revelation',
    'Suffering','Testimony','Biography','Commentary']; %> <%
    categories.forEach(cat => { %>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="categories[]"
      value="<%= cat %>" id="category<%= cat.replace(/ /g, '') %>" <%=
      book.categories.includes(cat) ? 'checked' : '' %>>
      <label class="form-check-label" for="category<%= cat.replace(/ /g, '') %>"
        ><%= cat %></label
      >
    </div>
    <% }) %>
  </div>

  <div class="mb-3">
    <label for="numberOfPages" class="form-label">Number of Pages</label>
    <input
      type="number"
      class="form-control"
      id="numberOfPages"
      name="numberOfPages"
      value="<%= book.numOfPages %>"
      required
    />
  </div>

  <div class="mb-3">
    <label for="imagesUrl" class="form-label">Image URL</label>
    <input
      type="file"
      id="imagesUrl"
      name="imagesUrl"
      accept="image/*"
      multiple
    />
  </div>

  <div class="mb-3" id="ebookLinkContainer" style="display: none">
    <label for="ebookLink" class="form-label">eBook Link</label>
    <input
      type="url"
      class="form-control"
      id="ebookLink"
      name="ebookLink"
      value="<%= book.ebookLink || '' %>"
      placeholder="https://example.com/ebook"
    />
  </div>

  <button type="submit" class="btn btn-primary">Update Book</button>
</form>

<script>
  function updateFormFields() {
    const typeOf = Array.from(
      document.querySelectorAll('input[name="typeOf[]"]:checked')
    ).map((checkbox) => checkbox.value);
    const ebookLinkContainer = document.getElementById("ebookLinkContainer");
    const quantityContainer = document.getElementById("quantityContainer");

    if (typeOf.includes("ebook")) {
      ebookLinkContainer.style.display = "block";
    } else {
      ebookLinkContainer.style.display = "none";
    }

    if (typeOf.includes("hardcopy")) {
      quantityContainer.style.display = "block";
    } else {
      quantityContainer.style.display = "none";
    }
  }

  document.querySelectorAll('input[name="typeOf[]"]').forEach((checkbox) => {
    checkbox.addEventListener("change", updateFormFields);
  });

  document.addEventListener("DOMContentLoaded", updateFormFields);
</script>
